[submodule ".themes/octoflat"]
	path = .themes/octoflat
	url = https://github.com/alexgaribay/octoflat
[submodule ".themes/budget-bumbago"]
	path = .themes/budget-bumbago
	url = git://github.com/octopress-themes/budget-bumbago.git
